<header class="site-header">
  <h3 class="site-title">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </h3>
  <nav class="menu-list" id="DesktopHeader">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}" class="menu-link">{{ item.name }}</a>
    {% endfor %}
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
    {% endfor %}
  </nav>
  <div class="dropdown" id="MobileHeader">
    <button class="dropbtn" onclick="openMenu()"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="dropdown-content" id="links" style="display: none">
      {% for item in site.data.settings.menu %}
        <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
      {% endfor %}
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
      {% endfor %}
    </div>
  </div>
  <script type="text/javascript">
    if(window.innerWidth < 900)
    {
      document.getElementById("DesktopHeader").style.display = "none"
      document.getElementById("MobileHeader").style.display = "block"
    }
    else
    {
      document.getElementById("DesktopHeader").style.display = "block"
      document.getElementById("MobileHeader").style.display = "none"
    }

    function openMenu() {
      var x = document.getElementById("links");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>
</header>
